head
    link(rel='shortcut icon', href='/img/Logo-Background.png')
    title Froyo - Password Reset
    link(rel='stylesheet', href='/css/passwordReset.css')
    // Pass PUG parameters to JS file
    script.
        let token = JSON.parse('!{JSON.stringify(token)}');
    script(src='/js/resetPasswordForm.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
body
    header
        div.logo
            img(src='/img/Logo-White.png')
            span
                h1 Froyo
                h2
                    | The Diet
                    br
                    | Social Network
    main
        if expired 
            span#success Reset token has expired
        else
            form#passwordResetForm
                h1 New Password
                input(type='password', name='password', placeholder='New Password')
                input(type='password', name='confirmPassword', placeholder='Confirm Password')
                input(type='submit', value='Reset Password')
            span#error